@font-face {
    font-family: 'e-Ukraine';
    src: url('../e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'e-Ukraine', sans-serif !important;
}

.container{
    height: 100%;
    background: #2884EF;
}
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Дополнительные стили для вашего логотипа, если необходимо */
.img-fluid {
    width: 200px; /* Замените на желаемую ширину */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
}
.main-content{
    display: none;
}

.header-back{
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.header-back .icon-back{
    width: 6px;
    height: 12px;
}
.header-back span{
    color: white;
    margin-left: 9px;
    font-size: 12px;
    width: 100%;
}
.chat-header-img{
    width: 30px;
    height: 30px;
}
.student-card-container{
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    box-shadow: 0px 0px 92.5999984741211px 0px #FFFFFFE3 inset;
    border-radius: 25px;
}
.student-img{
    width: 85px;
    height: 85px;
}
.text-about-student{
    margin-left: 10px;
}
.name-student{
    margin-bottom: 0;
    font-size: 17px;
}
.student-about{
    font-size: 12px;
}
.sections-buttons-container{
    color: ffffff;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 15px 0;
    width: 100vw;
    margin-left: -15px;
}
.section-button{
    padding: 16px 17px;
    white-space: nowrap;
    border-radius: 41px;
    background: var(--, #2884EF);
    box-shadow: 0px 0px 16.6px 0px #FFF inset, 0px 0px 4.4px 0px rgba(0, 0, 0, 0.20);
    margin: 0 12px;
}
.sections-buttons-container::-webkit-scrollbar {
    display: none;
  }
.hidden{
    display: none;
}